// Colors
$color_white: hsl(0, 0%, 100%);
$color_black: hsl(0, 0%, 0%);
$color_gray: hsl(0, 0%, 55%);
$color_grayDark: hsl(0, 0%, 41%);

// Font
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
$font_primary: 'Alata', sans-serif;
$font_secondary: 'Josefin Sans', sans-serif;