@import 'normalize';
@import 'breakpoints';
@import 'variables';

/* General Styles */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.5rem;
    font-family: $font_secondary;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.d-none {
    display: none;
}

/* Custom Styles */
/* --- Navigation --- */
.nav {
    /* background-color: transparent; */
    padding: 3rem 0;
    position: fixed;
    width: 100%;
}

.nav .container {
    display: flex;
    justify-content: space-between;
}

.nav__brand {
    width: 15rem;
}

.nav__icon {
    width: 2.5rem;
}

.nav__links {
    background-color: $color_black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all ease-in-out .3s;
    z-index: -1;
}

.nav__links .container {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.nav__link {
    color: $color_white;
    font-size: 4rem;
    font-family: $font_secondary;
    text-transform: uppercase;
    margin: 2rem 0;
}

/* --- Header --- */
.header {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.webp .header {
    background-image: url(../images/mobile/image-hero.webp);

    @include laptop {
        background-image: url(../images/desktop/image-hero.webp);
    }
}

.no-webp .header {
    background-image: url(../images/mobile/image-hero.jpg);

    @include laptop {
        background-image: url(../images/desktop/image-hero.jpg);
    }
}